/* LIGHT MODE (Green) */
[data-md-color-scheme="default"] {
  /* Standard Material Variables */
  --md-primary-fg-color:        #4B8B3B !important;
  --md-primary-fg-color--light: #D1CFC4 !important;
  --md-primary-fg-color--dark:  #3F8D4C !important;
  
  /* MATERIALX TOPBAR FIX */
  --mx-topbar-bg:               #4B8B3B !important;
  --mx-topbar-fg:               #ffffff !important;
  --mx-topbar-backdrop-filter:  none !important; /* Removes the "blur" effect if it interferes */

  --md-accent-fg-color:         #3F8D4C !important;
}

/* DARK MODE (Red) */
[data-md-color-scheme="slate"] {
  /* Standard Material Variables */
  --md-primary-fg-color:        #A53836 !important;
  --md-primary-fg-color--light: #D1CFC4 !important;
  --md-primary-fg-color--dark:  #FF6F61 !important;
  
  /* MATERIALX TOPBAR FIX */
  --mx-topbar-bg:               #A53836 !important;
  --mx-topbar-fg:               #ffffff !important;
  --mx-topbar-backdrop-filter:  none !important;

  --md-accent-fg-color:         #FF6F61 !important;
}